
.taskList {
    list-style: none;
    padding: 0 20px;
}

.cont_add_titulo_cont {
    position: relative;
    text-align: center;
    float: left;
    width: 20%;
    height: 60px;
    background: rgb(42,72,107);
    background: -moz-linear-gradient(left, rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
    background: -webkit-linear-gradient(left, rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
    background: linear-gradient(to right, rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
}

    .cont_add_titulo_cont > a {
        display: block;
        color: #fff;
        font-size: 32px;
        margin-top: 14px;
    }


.cont_titulo_cont > h3 {
    text-spacign: 2px;
    text-align: left;
    margin-left: 25px;
    letter-spacing: 7px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    margin-top: 23px;
}

.cont_titulo_cont {
    position: relative;
    float: left;
    width: 79%;
    height: 60px;
    background: rgb(42,72,107);
    background: -moz-linear-gradient(left, rgba(42,72,107,1) 0%, rgba(80,122,167,1) 100%);
    background: -webkit-linear-gradient(left, rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
    background: linear-gradient(to right, rgba(42,72,107,1) 0%,rgba(80,122,167,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a486b', endColorstr='#507aa7',GradientType=1 );
    font-family: 'Open Sans', sans-serif;
}

#newTaskModel {
    position: relative;
    float: left;
    width: 100%;
    margin-top: 15px;
}

    #newTaskModel > ul > li {
        margin-bottom: 2%;
        position: relative;
        float: left;
        width: 100%;
        left: 0;
        background-color: #F1F1EF;
        list-style: none;
        box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
        z-index: 2;
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }

.list_shopping > .col_md_1_list {
    border-left: 4px solid #e45;
    color: #e45;
}

.col_md_1_list {
    position: relative;
    float: left;
    top: 50%;
    margin-top: 1%
}

    .col_md_1_list > p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 700;
    }

.col_md_2_list {
    position: relative;
    float: left;
    margin-top: 1%;
}

    .col_md_2_list > h4 {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .col_md_2_list > p {
        text-align: left;
        font-family: 'Open Sans', sans-serif;
        font-size: 10px;
        font-weight: 700;
        color: #999;
    }



.col_md_3_list {
    position: relative;
    float: left;
    margin-top: 1%;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
